html {
  box-sizing: border-box;
  font-size: 12px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0px 10px 0px 10px;
  font-family: Monospace;
}

ul {
  list-style-type: none;
}

header nav {
  border-bottom: 1px solid lightgrey;
}

h1 {
  font-size: 1.8rem;
  font-weight: 700;

  margin: revert;
}

h2 {
  font-size: 1.3rem;
  font-weight: 700;

  margin: revert;
}

a {
  text-decoration: underline;
}

a:visited {
  color: blue;
}

article {
  border-left: 1px black dotted;
  padding-left: 10px;
}

#grid {
  display: grid;
  grid-template-columns: 800px 600px;
  padding-top: 10px;
}

#description-container {
  width: 600px;
}

.link-like {
  font-family: Monospace;
  font-size: 1rem;

  border: none;
  background: none;
  color: blue;
  text-decoration: underline;
  padding: 0px;
}
.link-like:hover {
  cursor: pointer;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
}
