html {
  box-sizing: border-box;
  font-size: 12px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0px 10px 0px 10px;
  font-family: Monospace;
}

ul {
  list-style-type: none;
}

header nav {
  border-bottom: 1px solid lightgrey;
}

h1 {
  font-size: 1.8rem;
  font-weight: 700;

  margin: revert;
}

h2 {
  font-size: 1.3rem;
  font-weight: 700;

  margin: revert;
}

a {
  text-decoration: underline;
}

a:visited {
  color: blue;
}

.x-axis text {
  transform: rotate(30deg) translateX(4px) translateY(-2px);
}

.hours-by-tag-chart {
  height: 200px;
  overflow: visible;
}

#suggestion:not(:empty):before {
  content: 'Tab to complete: ';
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
}

svg.deleticon {
  position: absolute;
  display: block;
  top: 7px;
  right: 14px;

  width: 15px;
  height: 15px;

  fill: grey;
}

#duration-row {
  position: absolute;
  top: 45%;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  left: 0;
  right: 0;
}
